{
  "presets": [
    ["@babel/preset-env", { "targets": "> 2%" }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".css"]
      }
    ]
  ]
}
